<div class="container">
        <div class="center-align">
            <mat-form-field appearance="outline">
                    <mat-label>Busqueda de Pokemon</mat-label>
                    <input #myInput matInput placeholder="Escriba el nombre aqui" [(ngModel)]="search" (ngModelChange)="filterPokemon()">                                    
            </mat-form-field>
            <div>
                <button mat-flat-button class="search-btn" color="primary" (click)="filterPokemon()">
                        <mat-icon>search</mat-icon>
                </button>   
            </div>                        
        </div>        
        <div class="grid" >
                <div class="col" *ngFor="let pokemon of pokemons">
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title class="capitalize">{{pokemon.name}}</mat-card-title>
                        <mat-card-subtitle><p> ID: {{pokemon.id}}</p></mat-card-subtitle>
                        </mat-card-header>
                        <div class="center-align gradient">
                            <img mat-card-lg-image src="{{pokemon.sprites.front_default}}">
                        </div>                                              
                        <mat-card-content>
                            <mat-chip-list >                                                            
                                <b>Tipos:</b>
                                <mat-chip color="accent" *ngFor="let type of pokemon.types"  class="capitalize" selected>{{type.type.name}}</mat-chip>
                            </mat-chip-list>
                            <br>
                            <div *ngIf="pokemon.evolution">
                                <b>Evoluciona de: </b>
                                <span class="capitalize" selected>{{pokemon.evolution}}</span>
                            </div>   
                        </mat-card-content>                        
                        <mat-card-actions class="center-align">
                            <button mat-raised-button color="primary" (click)="pokemonDetailRedirect(pokemon.id)"> Ver Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>               
            </div>  
</div>
    