<div class="container">
        <div class="center-align">
            <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>        
        <div class="grid">
                <div class="col">
                    <mat-card class="example-card">
                        <mat-card-header>
                        <mat-card-title>ditto</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
                        <mat-card-content>
                        <p>
                            The Shiba Inu 
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>               
            </div>  
</div>
    